  #num {
    width: 3em; height: 2em;

  }
  #operator {
    width: 3em; height: 2em;
  }
 
  #zero_btndot {
    width: 3em; height: 2em;
  }

  #equalto {
    width: 12.9em; height: 2em;
  }
